# gitignore(5)

# Some applications store garbage in `XDG_CONFIG_HOME`.


# Bitwarden desktop app
/Bitwarden/

# Chromium web browser
/chromium/

# dLeyna
/dleyna-renderer-service.conf
/dleyna-server-service.conf

# GNU Image Manipulation Program
/GIMP/

# Signal desktop app
/Signal/
