# man:gitignore(5)


# The Bitwarden desktop application stores garbage here:
/Bitwarden/

# Chromium web browser
/chromium/

# dLeyna
/dleyna-renderer-service.conf
/dleyna-server-service.conf

# GNU Image Manipulation Program
/GIMP/

# GNOME monitor configuration
/monitors.xml

# Signal desktop app
/Signal/
