# man:gitignore(5)


# The Bitwarden desktop application stores garbage here:
/Bitwarden/

# Chromium web browser
/chromium/

# dLeyna
/dleyna-renderer-service.conf
/dleyna-server-service.conf

# Signal desktop app
/Signal/
