[Unit]
Description=Terminal
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=exec
# --wait tells it not to fork
ExecStart=/usr/bin/gnome-terminal --wait --maximize
Restart=no
Slice=app.slice

[Install]
WantedBy=gnome-session-wayland.target
