/Backups/
/blob_storage/
/Cache/
/CachedData/
/CachedExtensionVSIXs/
/CachedExtensions/
/CachedProfilesData/
/Code Cache/
/Cookies
/Cookies-journal
/Crashpad/
/databases/
/DawnCache/
/Dictionaries/
/GPUCache/
/languagepacks.json
/Local Storage/
/logs/
/machineid
/Network Persistent State
/Preferences
/Service Worker/
/Session Storage/
/Shared Dictionary/
/SharedStorage
/TransportSecurity
/Trust Tokens
/Trust Tokens-journal
/WebStorage/
