# man:gitattributes(5)

# SPDX-FileCopyrightText: © 2025 David Joaquín Shourabi Porcel <https://www.djsp.eu/>
# SPDX-License-Identifier: AGPL-3.0-only


# Visual Studio Code allows comments in its JSON configuration files
# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
/settings.json linguist-language=JSON-with-Comments
